*, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.personalarte {
    background: linear-gradient(45deg, rgb(229 0 84 / 60%), rgb(234 17 180 / 60%), rgb(220 27 98 / 59%));
}

.cyberrock {
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.6), rgba(87, 2, 2, 0.6), rgba(255, 0, 0, 0.6));
}

.text-justify {
    text-align: justify;
}

:root {
    --text-color-primary: #1470e9;
    --text-shadow: #1f2127;
}

body {
    position: relative;
    z-index: 1;

    h1, h4, p {
        font-family: "Roboto Mono", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2; 

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.02);
        z-index: -1;
    }
    
    header .container {
        max-width: none !important;
    
        .contentTitle {
            background: rgba(20, 34, 233, 0.157);
            border-radius: 12px;
            color: var(--text-color-primary);
            font-weight: 900;
            letter-spacing: .03em;
            padding: .5rem 1rem;
            text-transform: capitalize;
            margin-bottom: 30px;
    
            .emoji {
                animation: pulse 1.5s infinite;
                display: inline-block;
            }
        }

        h1 {
            text-align: start;

            strong {
                font-family: "Press Start 2P", serif;
                color: var(--text-color-primary);
                font-size: 1.1em;
                text-shadow: 3px 3px 0 var(--text-shadow), -1px -1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow), -1px 1px 0 var(--text-shadow), 1px 1px 0 var(--text-shadow);
            }
        }

        .dev {
            max-height: 400px;
            max-width: 800px;
            width: 100%;
            height: 100%;
        }
    }

    #projects {
        .card {
            border: none;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            overflow:hidden;
            border-radius:20px;
            min-height:450px;
            box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
        
            @media (max-width: 768px) {
                min-height:350px;
            }
            
            @media (max-width: 420px) {
                min-height:300px;
            }
            
            &.card-has-bg {
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                background-size:120%;
                background-repeat:no-repeat;
                background-position: center center;
        
                &:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: inherit;
                    -webkit-filter: grayscale(1);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
        
                &:hover {
                    transform: scale(0.98);
                    box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
                    background-size:130%;
                    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
                }   
            }
        
            .card-footer{
                background: none;
                border-top: none;
            }
        
            .card-title {
                font-weight:800
            }
            
            .card-meta{
                color:rgba(0,0,0,0.3);
                text-transform:uppercase;
                font-weight:500;
                letter-spacing:2px;
            }
        
            .card-body{ 
                transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        
            &:hover {
                .card-body{
                    margin-top:30px;
                    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                }
        
                cursor: pointer;
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
    }
}

.tooling-box {
    display: flex;
    flex-direction: row;
}

.box-content {
    align-items: center;
    background: #021709;
    border-radius: 8px;
    display: flex;
    flex: 0 1 18%;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
}

.icone {
    height: 30px;
    width: 30px;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}