*, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-justify {
    text-align: justify;
}

:root {
    --text-color-primary: #1470e9;
    --text-shadow: #1f2127;
}

body {
    position: relative;
    z-index: 1;

    h1, h4, p {
        font-family: "Roboto Mono", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2; 

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.02);
        z-index: -1;
    }
    
    header .container {
        max-width: none !important;
    
        .contentTitle {
            background: rgba(20, 34, 233, 0.157);
            border-radius: 12px;
            color: var(--text-color-primary);
            font-weight: 900;
            letter-spacing: .03em;
            padding: .5rem 1rem;
            text-transform: capitalize;
            margin-bottom: 30px;
    
            .emoji {
                animation: pulse 1.5s infinite;
                display: inline-block;
            }
        }

        h1 {
            text-align: start;

            strong {
                font-family: "Press Start 2P", serif;
                color: var(--text-color-primary);
                font-size: 1.1em;
                text-shadow: 3px 3px 0 var(--text-shadow), -1px -1px 0 var(--text-shadow), 1px -1px 0 var(--text-shadow), -1px 1px 0 var(--text-shadow), 1px 1px 0 var(--text-shadow);
            }
        }

        .dev {
            max-height: 400px;
            max-width: 800px;
            width: 100%;
            height: 100%;
        }
    }
}

.tooling-box {
    display: flex;
    flex-direction: row;
}

.box-content {
    align-items: center;
    background: #021709;
    border-radius: 8px;
    display: flex;
    flex: 0 1 18%;
    height: 60px;
    justify-content: space-evenly;
    margin: 1%;
}

.icone {
    height: 30px;
    width: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}